#guess, #reset {
  display: none;
}

body {
  background-color: lightblue;
}

.correct {
  color: green;
}

.incorrect {
  color: red;
}

textarea {
  width: 75%;
  text-align: left;
}

#input, #guess, #results, .score, .jumbotron, .newSentence {
  text-align: center;
}

#results {
  font-size: 24px;
}

#tracker {
  color: green;
  font-size: 30px;
}
