#guess, #reset {
  display: none;
}

.correct {
  color: green;
}

.incorrect {
  color: red;
}

textarea {
  width: 75%;
  text-align: left;
}

#input, #guess, #results {
  text-align: center;
}

#results {
  font-size: 24px;
}
